        /**{
            padding: 0;
            margin: 0;
        }*/
        body{
            background-color: rgb(245, 248, 250) ;
            margin: 5vw;
            display: flex;
            flex-direction: column;
        }
        form{
            /*border: 2px solid orange;*/
            background: rgb(135, 217, 244);
            margin: 20px 70px;
            padding: 30px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;

        }

        input[type="file"]{
           /*border: 2px solid red;*/
           width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin-top: 5px;
            

        }

        label{
            display: block;
            border: 2px solid rgba(0, 0, 255, 0.178);
            margin: 25px 10px;
            padding: 9px;
            border-radius: 20px;
        }

        .doc{

            margin: 0px 70px;
            border: 2px lightblue(0, 48, 64);
            width: 30%;
            color: white;
            text-align: center;
            background-color: rgb(13, 72, 92);
            border-radius: 25px;

        }

        .submit{
            background-color: rgb(29, 119, 149);
            height: 50px;
            width: 90px;
            
            
            border: none;
            color: white;
            border-radius: 20px;
            cursor: pointer;
        }